<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://github.com/propani/tizenxpro" version="1.0.0" viewmodes="fullscreen">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="XPROTVaxxx.xpro" package="XPROTVaxxx" required_version="2.3"/>
    <author href="https://github.com/propani/tizenxpro" email="support@xpro.net">xPro Team</author>
    <content src="index.html"/>
    <description>xPro for Samsung Smart TV (Tizen).</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>xPro</name>
    <tizen:privilege name="http://developer.samsung.com/privilege/productinfo"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="tv"/>
    <tizen:setting screen-orientation="auto-rotation" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
